body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-image: url('./assets/images/background.jpg');
  background-size: cover;
  background-position: center;
}


.container-flores-superiores {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  .flores-superiores {
    max-width: 80vw;
    max-height: 200px;
  }
}
.container-flores-inferiores {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100vw;
  text-align: center;
  .flores-inferiores {
    max-width: 80vw;
    max-height: 220px;
  }
}

.container-welcome {
  display: flex;
  flex-direction: column;
  button {
    margin-top: 50px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(247,172,86,1) 0%, rgba(229,24,95,1) 52%, rgba(141,77,151,1) 100%);
    &:hover {
      letter-spacing: 3px;
      transform: scale(1.05);
      box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
    }
  }
  .welcome {
    margin-top: -150px;
    max-width: 80vw;
    max-height: 400px;
  }
}

.container-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    margin-top: -100px;
    max-width: 80vw;
    max-height: 250px;
    @media screen and (max-width: 568px) {
      margin-top: 0px;
    }
  }
  .base {
    width: fit-content;
    margin-top: -20px;
    max-width: 90vh;
    max-height: 170px;
    object-fit: contain;

  }

  h1 {
    text-transform: uppercase;
    font-family: arial;
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    color: #3A245F;
    margin: 0;
    margin-bottom: 15px;
  }

  button {
    margin-top: 50px;
    height: 50px;
    padding: 0 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(247,172,86,1) 0%, rgba(229,24,95,1) 52%, rgba(141,77,151,1) 100%);
    transition: all .2s ease-in-out;
    @media screen and (max-width: 568px) {
      margin-top: 20px;
    }
    &:hover {
      letter-spacing: 3px;
      transform: scale(1.05);
      box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
    }
  }
}


.container-qualify {
  img {
    z-index: 9999;
    margin-top: -100px;
    max-height: 500px;
    max-width: 90vw;
  }
}

.container-loading {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
  span {
    font-family: Arial, Helvetica, sans-serif;
    color: #3A245F;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 900;
    bottom: 50px; 
  }
  img {
    max-height: 600px;
    border-radius: 500px;
    animation: rotateAnimation 4s linear infinite;
  }
}

.container-loading2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
  img {
    max-height: 600px;
    border-radius: 500px;
    animation: rotateAnimation 4s linear infinite;
  }
  span {
    font-family: Arial, Helvetica, sans-serif;
    color: #3A245F;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 900;
    bottom: 50px;
    
  }
}

.reload {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 100px;
  border: none;
  outline: none;
  transition: all .2s ease-in-out;
  box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
  background: linear-gradient(90deg, rgba(247,172,86,1) 0%, rgba(229,24,95,1) 52%, rgba(141,77,151,1) 100%);
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
  }
}

.canvas {
  position: absolute;
}


/* Define la animación "rotateAnimation" */
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.flor1 {
  position: fixed;
  right: 10px;
  top: 40vh;
}
.flor2 {
  position: fixed;
  right: 10px;
  top: 50vh;
}


.countdown-text {
  font-size: 200px;
  transition: font-size 0.3s ease-in-out;
}

.animate {
  animation: pulse 0.3s;
}

@keyframes pulse {
  0% {
    font-size: 200px;
  }
  50% {
    font-size: 240px;
  }
  100% {
    font-size: 200px;
  }
}


.butt {
  position: fixed;
  width: 100vw;
  left: 0;
  bottom: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 568px) {
    bottom: 200px;
  }
  .text {
    padding: 15px 100px;
    background: linear-gradient(90deg, rgba(247,172,86,1) 0%, rgba(229,24,95,1) 52%, rgba(141,77,151,1) 100%);
    color: #fff;
    font-family: roboto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    text-align: center;
    
    @media screen and (max-width: 568px) {
      padding: 15px 50px;
      font-size: 17px;
    }

    .left {
      position: absolute;
      left: 0;
      flex-grow: 1;
      width: 50%;
      height: 49px;
      top:0;
    }
    .right {
      height: 49px;
      position: absolute;
      right: 0;
      top:0;
      width: 50%;
      flex-grow: 1;
    }
    transition: all .2s ease-in-out;
    &:hover {
      letter-spacing: 3px;
      transform: scale(1.05);
      box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
    }
  }
}